<!--The content below is only a placeholder and can be replaced.-->

<h1>
  Angular store
</h1>

<!-- REMENBER to put the correct name when you add a module-->

<!-- <app-product-list></app-product-list> -->

<nav>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/admin" routerLinkActive="active">Admin</a>
  <a routerLink="/contact" routerLinkActive="active">Contact</a>
  <a routerLink="/products" routerLinkActive="active">Products</a>
</nav>

<!-- router-outlet is used to show the componet that can be navigate to  -->
<router-outlet></router-outlet>

<footer>
  <hr/>
  Copyright Angular 2019
</footer>